@charset "UTF-8";

body {
    font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    background-image: url('./../aula01/files/notes-icon.png');
    background-color: #000000;
    background-size: 65vh;
    /* background-size: 80vh; */
    background-position: center;
    /* background-position: center bottom; */
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 95vh;
    /* height: 100vh; */
}

.page-title {
    color: #ffffff;
    margin: 0 0 0px;
    /* margin: 0 0 5px; */
}

.page-subtitle {
    color: #ffffff;
    margin-top: 0px;
    /* margin-top: 5px; */
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* .foot {
    text-align: center;
    position: relative;
    color: #ffffff;
} */

.foot {
    text-align: center;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
}

.foot a {
    color: #606060;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}
