@charset "UTF-8";

body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    background-image: url('./../aula04/files/filmes-background.png');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

body > img {
    margin: 0 10px 470px;
    /* margin: 0 10px; */
}

img {
    max-height: 250px;
}

/* p {
    color: #ffffff;
    text-align: center;
    font-size: 24px;
} */

/* .foot {
    text-align: center;
    position: relative;
    color: #ffffff;
  } */

.foot {
    text-align: center;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
}

.foot a {
    color: #606060;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}
