@charset "UTF-8";

body {
    font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    background-image: url('./../aula02/files/ps4-icon.png');
    background-color: #000000;
    background-size: 85vh;
    /* background-size: 100vh; */
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 85vh;
    /* height: 100vh; */
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

label {
    color: white;
}

input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
}

button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 20px;
}

/* .foot {
  text-align: center;
  position: relative;
  color: #ffffff;
} */

.foot {
    text-align: center;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
}

.foot a {
    color: #606060;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}
